@define-color bg0                     #222327;
@define-color bg1                     #2c2e34;
@define-color bg2                     #33353f;
@define-color bg3                     #363944;
@define-color bg4                     #3b3e48;
@define-color bg5                     #424550;
@define-color fg0                     #e2e2e3;
@define-color grey                    #7f8490;
@define-color grey_dim                #595F6F;
@define-color red                     #FC5d7c;
@define-color green                   #72d075;
@define-color yellow                  #e7c664;
@define-color bg_yellow				  #4E432F;
@define-color blue                    #76cce0;
@define-color purple                  #b39df3;
@define-color bg_purple				  #434055;
@define-color aqua                    #9ed072;
@define-color orange                  #f39660;
